<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <h1>Categories <%= link_to '(New)', new_category_path %></h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3">Todos</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td>
          <%= link_to category do %>
            <%= category.name %>
          <% end %>
          <br>
          <%= link_to '(Delete)', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

        <td>
          <ul>
            <% category.todos.each do |todo| %>
            <!-- <tr><strong>Category Name</strong><%= todo.category.name %></tr> -->
            <li>
              <strong>Description: </strong><%= todo.description %><br>
              <strong>Level: </strong><%= todo.level %>
            </li>
            <hr>
            <% end %>
          </ul>
          
        </td>

      </tr>
      <hr>
      <% end %>
    </tbody>
  </table>

  <br>

  
<% end %>